<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deng.mapper.LforestMapper">
    <select id="getForestAll" resultType="com.deng.entity.ForLforest">
        select * from for_lforest
    </select>
    <select id="getForest" parameterType="int" resultType="com.deng.entity.ForLforest">
        select * from for_lforest where lid=#{lid}
    </select>
    <insert id="insertByForest" parameterType="com.deng.entity.ForLforest" useGeneratedKeys="true" keyProperty="lid">
        insert into for_lforest set forest_name=#{forestName},forest_area=#{forestArea},longitude=#{longitude},latitude=#{latitude},image=#{image}
    </insert>
    <delete id="deleteByForest" parameterType="int">
        delete from for_lforest where lid=#{lid}
    </delete>
    <update id="updateByArea" parameterType="com.deng.entity.ForLforest">
        update for_lforest set forest_name=#{forestName} ,forest_area=#{forestArea},image=#{image}  where lid=#{lid}
    </update>
</mapper>